/jupyter/.ipynb_checkpoints/
/original_data/genres_original/
/original_data/images_original/
/original_data/features_3_sec.csv
/original_data/features_30_sec.csv
/processed_data/processed_features/
/processed_data/processed_waves/
